<div class="ui container">
  <div class="ui inverted menu">
    <div class="header item">EmberBlog</div>
    {{#link-to 'posts' class='item' }}
      Home
    {{/link-to}}
    {{#link-to 'posts.new' class='item' }}
      Create Post
    {{/link-to}}
  </div>
  {{outlet}}
</div>